<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7c0001" xmlns:th = "http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{navbar.home}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}" th:text="#{navbar.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addcar}" th:text="#{label.addCar}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{currentLang}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{'?lng=ru'}">РУС</a></li>
                        <li><a class="dropdown-item" th:href="@{'?lng=en'}">ENG</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" th:action="@{'/searchcar'}" method="get">
                <input class="form-control me-2" type="search" th:placeholder="#{label.search}" aria-label="Search" name="key" th:value="${key!=null?key:''}">
                <button class="btn btn-outline-light" type="submit" th:text="#{label.search}"></button>
            </form>
        </div>
    </div>
</nav>