<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
    <div class="col-12" layout:fragment="content_view">
        <form th:action="@{/addcar}" method="post">
            <div class="mb-3">
                <label th:text="#{label.name}"></label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="mb-3">
                <label th:text="#{label.model}"></label>
                <input type="text" class="form-control" name="model">
            </div>
            <div class="mb-3">
                <label th:text="#{label.speed}"></label>
                <input type="number" class="form-control" name="speed">
            </div>
            <div class="mb-3">
                <button class="btn btn-success" th:text="#{label.addCar}"></button>
            </div>
        </form>
    </div>

</html>