<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
    <div class="col-12" layout:fragment="content_view">
        <form th:action="@{/savecar}" method="post">
            <div class="mb-3">
                <input type="hidden" name="id" th:value="${car.id}">
                <label th:text="#{label.name}"></label>
                <input type="text" class="form-control" name="name" th:value="${car!=null?car.name:''}">
            </div>
            <div class="mb-3">
                <label th:text="#{label.model}"></label>
                <input type="text" class="form-control" name="model" th:value="${car!=null?car.model:''}">
            </div>
            <div class="mb-3">
                <label th:text="#{label.price}"></label>
                <input type="number" class="form-control" name="price" th:value="${car!=null?car.price:0}">
            </div>
            <div class="mb-3">
                <button class="btn btn-success" th:text="#{label.saveCar}"></button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#deleteCar" th:text="#{label.deleteCar}"></button>
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="deleteCar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{'/deletecar'}" method="post">
                        <input type="hidden" name="id" th:value="${car.id}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{label.deleteCar}"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:text="#{label.sure}"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{label.no}"></button>
                            <button type="submit" class="btn btn-danger" th:text="#{label.yes}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>