<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/main">
    <div class="col-12" layout:fragment="content_view">
        <table class="table table-striped">
            <thead>
            <tr>
                <td width="5%">ID</td>
                <td width="40%" th:text="#{label.name}"></td>
                <td th:text="#{label.model}"></td>
                <td th:text="#{label.speed}"></td>
                <td width="20%" th:text="#{label.details}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mashina : ${cars}">
                <td th:text="${mashina.id}"></td>
                <td th:text="${mashina.name}"></td>
                <td th:text="${mashina.model}"></td>
                <td th:text="${mashina.speed}"></td>
                <td>
                    <a th:href="@{'/details/'+${mashina.id}}" class="btn btn-info btn-sm" th:text="#{label.details}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</html>